.head{
    width:98.8%;
    position:fixed;
    z-index:1;
}
.head-img{
    width:20px;
    height:20px;
    border-radius:2px;
}
nav{
    background-color:#FFFFEE;
    color: #0e947a;
}
.container-fluid{
    margin-left:180px;
    margin-right:180px;
}
.search .navbar-form{
    margin-left:10px;
}
.search .navbar-form .form-control{
    margin-right:5px;
}