.profile-box{
    margin-left:180px;
    margin-top:50px;
    width:960px;
}
.profile-box .warpaper{
    position:relative;
    margin:0 auto;
    z-index:0;
    height:300px;
    width:960px;
    overflow:hidden;
}
.profile-box .head-box{
     height:100px;
 }
.profile-box .headimg img{
    margin-top:220px;
    z-index:2;
    position:relative;
    margin-left:30px;
    height:150px;
    width:150px;
    border-radius:5px;
    border:5px solid white;
}
.profile-box .head-name{
    margin-left:600px;
    margin-top:20px;
    font-size:20px;
}
.profile-box .selector{
    margin-top:20px;
    width:650px;
    position:relative;
    float: left;
}
.profile-box .content{
    height:500px;
    background-color:white;
    border:1px solid #D3D3D3;
    border-top:hidden;
    margin-bottom:50px;
}
.profile-infobox{
    background-color:white;
    border:1px solid #D3D3D3;
    border-radius:3px;
    width:300px;
    height:400px;
    margin-left:10px;
    margin-top:60px;
    float: left;
}
.profile-infobox .info-detail{
    margin:0;
}
.profile-infobox .name p{
    font-weight:bold;
    text-align:center;
    font-size:22px;
    padding-bottom:15px;
}
.profile-infobox .meun li{
    list-style-type:none;
    padding-left:20px;
    padding-top:10px;
    padding-bottom:10px;
}
.profile-infobox .meun a{
    text-decoration:none;
}
.profile-infobox .footer{
    font-size:16px;
    color:gray;
    padding-top:18px;
}
.profile-infobox .footer a{
    text-decoration:none;
}
.profile-infobox .footer p{
    line-height:30px;
}
